<%# <h1>⚽️ Welcome to World of Football ⚽️</h1> %>
<%# <p><%= link_to "New stadium", new_stadium_path %></p> %>
<%# <% @stadiums.each do |stadium| %> %>
<%# <h3> <%= link_to stadium.name, stadium_path(stadium) %> </h3> %>
<%# <% end %> %>
